a.no-underline{
    text-decoration: none;
}

.mouse-pointer {
    cursor: pointer;
}

.mh-85{
    max-height: 85vh;
  }
  @media (min-width: 768px) {
    .mh-md-85{
      max-height: 85vh;
    }
  }
  
  .y-scroll-auto{
    overflow-y: auto;
  }